.nav_btn {
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
  min-width: 26px;
}
.nav_btn :hover{
  color: green;
}
.active_btn{
  color: green;
}

.pagination_bar {
  width: 100%;
  text-align: center;
}
